@import'~bootstrap/dist/css/bootstrap.css';

// RESET
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// COMMON
.container {
    width: 65%;
    margin: 0 auto;
    padding-right: 0;
    padding-left: 0;
}

ul {
    list-style-type: none;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    
}