@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');

$title_link_color: #3f3a64;
$green_color_text: #20ad96;
$text_capitalize: capitalize;
$text_uppercase: uppercase;
$new_roman_font: 'Times New Roman';
$main_font_size: 13px;
$quicksand_font: 'Quicksand', sans-serif;